<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.idongjia.divine.db.mybatis.mapper.kaipao.LiveBookMapper">

    <!-- ================ 自定义内容 ================ -->
    <!-- ================== start ================== -->

    <!-- ================== end ================== -->
    <select id="groupByLiveIds" resultType="cn.idongjia.divine.db.mybatis.pojo.CountPO">
        select count(1) count,lid id from live_pure_book
        where status=0 and lid in
        <foreach collection="liveIds" item="liveId" open="(" close=")" separator=",">
            #{liveId}
        </foreach>
    </select>
</mapper>
