<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.idongjia.divine.db.mybatis.mapper.kaipao.base.LiveBookBaseMapper">

    <resultMap id="fieldColumn" type="cn.idongjia.divine.db.mybatis.pojo.LiveBookDO">
        <result property="id" column="id"/><!-- 唯一ID -->
        <result property="uid" column="uid"/><!-- 用户ID -->
        <result property="lid" column="lid"/><!-- 直播ID -->
        <result property="status" column="status"/><!-- 状态 -->
        <result property="createtm" column="createtm"/><!-- 创建时间 -->
        <result property="modifiedtm" column="modifiedtm"/><!-- 最后修改时间 -->
    </resultMap>

    <sql id="fieldAsProperty">
        `id`,
        `uid`,
        `lid`,
        `status`,
        `createtm`,
        `modifiedtm`
    </sql>

    <sql id="fieldWithoutId">
        `uid`,
        `lid`,
        `status`,
        `createtm`,
        `modifiedtm`
    </sql>

    <sql id="property">
        #{id,jdbcType=BIGINT},
        #{uid,jdbcType=BIGINT},
        #{lid,jdbcType=BIGINT},
        #{status,jdbcType=INTEGER},
        #{createtm,jdbcType=TIMESTAMP},
        #{modifiedtm,jdbcType=TIMESTAMP}
    </sql>

    <sql id="propertyWithoutId">
        #{uid,jdbcType=BIGINT},
        #{lid,jdbcType=BIGINT},
        #{status,jdbcType=INTEGER},
        #{createtm,jdbcType=TIMESTAMP},
        #{modifiedtm,jdbcType=TIMESTAMP}
    </sql>

    <sql id="fieldEqProperty">
        `id`=#{id,jdbcType=BIGINT},
        `uid`=#{uid,jdbcType=BIGINT},
        `lid`=#{lid,jdbcType=BIGINT},
        `status`=#{status,jdbcType=INTEGER},
        `createtm`=#{createtm,jdbcType=TIMESTAMP},
        `modifiedtm`=#{modifiedtm,jdbcType=TIMESTAMP}
    </sql>

    <sql id="fieldEqPropertyIf">
        <if test="id!=null">
            `id`=#{id,jdbcType=BIGINT},
        </if>
        <if test="uid!=null">
            `uid`=#{uid,jdbcType=BIGINT},
        </if>
        <if test="lid!=null">
            `lid`=#{lid,jdbcType=BIGINT},
        </if>
        <if test="status!=null">
            `status`=#{status,jdbcType=INTEGER},
        </if>
        <if test="createtm!=null">
            `createtm`=#{createtm,jdbcType=TIMESTAMP},
        </if>
        <if test="modifiedtm!=null">
            `modifiedtm`=#{modifiedtm,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <sql id="query">
        <where>
            <if test="id!=null">
                AND `id`=#{id,jdbcType=BIGINT}
            </if>
            <if test="uid!=null">
                AND `uid`=#{uid,jdbcType=BIGINT}
            </if>
            <if test="lid!=null">
                AND `lid`=#{lid,jdbcType=BIGINT}
            </if>
            <if test="status!=null">
                AND `status`=#{status,jdbcType=INTEGER}
            </if>
            <if test="createtm!=null">
                AND `createtm`=#{createtm,jdbcType=TIMESTAMP}
            </if>
            <if test="modifiedtm!=null">
                AND `modifiedtm`=#{modifiedtm,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <sql id="idQuery">
        <where>
            <if test="id!=null" >`id`=#{id}</if>
            <if test="id==null" >1=0</if>
        </where>
    </sql>

    <insert id="insert" parameterType="cn.idongjia.divine.db.mybatis.pojo.LiveBookDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `live_pure_book` (<include refid="fieldWithoutId" />) VALUES (<include refid="propertyWithoutId" />)
    </insert>

    <update id="update" parameterType="cn.idongjia.divine.db.mybatis.pojo.LiveBookDO">
        UPDATE `live_pure_book`
        <set><include refid="fieldEqPropertyIf" /></set>
        <include refid="idQuery" />
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM `live_pure_book` <include refid="idQuery" />
    </delete>

    <select id="getByPrimaryKey" resultMap="fieldColumn">
        SELECT <include refid="fieldAsProperty" /> FROM `live_pure_book` <include refid="idQuery" />
    </select>

    <select id="select" resultMap="fieldColumn" parameterType="cn.idongjia.divine.db.mybatis.query.LiveBookQuery">
        SELECT
        <include refid="fieldAsProperty"/>
        FROM `live_pure_book`
        <include refid="query"/>
        <if test="orderBy != null">ORDER BY ${orderBy}</if>
        <if test="limit != null">LIMIT ${limit}</if>
        <if test="offset != null">OFFSET ${offset}</if>
    </select>

    <select id="count" resultType="Integer"  parameterType="cn.idongjia.divine.db.mybatis.query.LiveBookQuery">
        SELECT COUNT(1) FROM `live_pure_book` <include refid="query"/>
    </select>
</mapper>
