<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.idongjia.divine.db.mybatis.mapper.kaipao.base.LivePureBaseMapper">

    <resultMap id="fieldColumn" type="cn.idongjia.divine.db.mybatis.pojo.LivePureDO">
        <result property="id" column="id"/><!-- 纯直播ID 与live_show共享主键 -->
        <result property="pic" column="pic"/><!-- 纯直播图片 -->
        <result property="desc" column="desc"/><!-- 纯直播描述 -->
        <result property="weight" column="weight"/><!-- 纯直播权重 -->
        <result property="status" column="status"/><!-- 纯直播状态(-5修改中-4待审核-3审核中-2审核结束-1删除0未上线1已上线) -->
        <result property="timeStrategy" column="time_strategy"/><!-- 直播播出时间策略ID -->
        <result property="exemption" column="exemption"/><!-- 纯直播是否免审0免审1未免 -->
    </resultMap>

    <sql id="fieldAsProperty">
        `id`,
        `pic`,
        `desc`,
        `weight`,
        `status`,
        `time_strategy`,
        `exemption`
    </sql>

    <sql id="fieldWithoutId">
        `pic`,
        `desc`,
        `weight`,
        `status`,
        `time_strategy`,
        `exemption`
    </sql>

    <sql id="property">
        #{id,jdbcType=BIGINT},
        #{pic,jdbcType=VARCHAR},
        #{desc,jdbcType=VARCHAR},
        #{weight,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        #{timeStrategy,jdbcType=BIGINT},
        #{exemption,jdbcType=INTEGER}
    </sql>

    <sql id="propertyWithoutId">
        #{pic,jdbcType=VARCHAR},
        #{desc,jdbcType=VARCHAR},
        #{weight,jdbcType=INTEGER},
        #{status,jdbcType=INTEGER},
        #{timeStrategy,jdbcType=BIGINT},
        #{exemption,jdbcType=INTEGER}
    </sql>

    <sql id="fieldEqProperty">
        `id`=#{id,jdbcType=BIGINT},
        `pic`=#{pic,jdbcType=VARCHAR},
        `desc`=#{desc,jdbcType=VARCHAR},
        `weight`=#{weight,jdbcType=INTEGER},
        `status`=#{status,jdbcType=INTEGER},
        `time_strategy`=#{timeStrategy,jdbcType=BIGINT},
        `exemption`=#{exemption,jdbcType=INTEGER}
    </sql>

    <sql id="fieldEqPropertyIf">
        <if test="id!=null">
            `id`=#{id,jdbcType=BIGINT},
        </if>
        <if test="pic!=null">
            `pic`=#{pic,jdbcType=VARCHAR},
        </if>
        <if test="desc!=null">
            `desc`=#{desc,jdbcType=VARCHAR},
        </if>
        <if test="weight!=null">
            `weight`=#{weight,jdbcType=INTEGER},
        </if>
        <if test="status!=null">
            `status`=#{status,jdbcType=INTEGER},
        </if>
        <if test="timeStrategy!=null">
            `time_strategy`=#{timeStrategy,jdbcType=BIGINT},
        </if>
        <if test="exemption!=null">
            `exemption`=#{exemption,jdbcType=INTEGER}
        </if>
    </sql>

    <sql id="query">
        <where>
            <if test="id!=null">
                AND `id`=#{id,jdbcType=BIGINT}
            </if>
            <if test="pic!=null and pic!=''">
                AND `pic`=#{pic,jdbcType=VARCHAR}
            </if>
            <if test="desc!=null and desc!=''">
                AND `desc`=#{desc,jdbcType=VARCHAR}
            </if>
            <if test="weight!=null">
                AND `weight`=#{weight,jdbcType=INTEGER}
            </if>
            <if test="status!=null">
                AND `status`=#{status,jdbcType=INTEGER}
            </if>
            <if test="timeStrategy!=null">
                AND `time_strategy`=#{timeStrategy,jdbcType=BIGINT}
            </if>
            <if test="exemption!=null">
                AND `exemption`=#{exemption,jdbcType=INTEGER}
            </if>
            <if test="liveIds !=null and liveIds.size>0">
                and id in
                <foreach collection="liveIds" item="liveId" separator="," open="(" close=")">
                    #{liveId}
                </foreach>
            </if>
        </where>
    </sql>

    <sql id="idQuery">
        <where>
            <if test="id!=null" >`id`=#{id}</if>
            <if test="id==null" >1=0</if>
        </where>
    </sql>

    <insert id="insert" parameterType="cn.idongjia.divine.db.mybatis.pojo.LivePureDO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `live_pure` (<include refid="fieldWithoutId" />) VALUES (<include refid="propertyWithoutId" />)
    </insert>

    <update id="update" parameterType="cn.idongjia.divine.db.mybatis.pojo.LivePureDO">
        UPDATE `live_pure`
        <set><include refid="fieldEqPropertyIf" /></set>
        <include refid="idQuery" />
    </update>

    <delete id="deleteByPrimaryKey">
        DELETE FROM `live_pure` <include refid="idQuery" />
    </delete>

    <select id="getByPrimaryKey" resultMap="fieldColumn">
        SELECT <include refid="fieldAsProperty" /> FROM `live_pure` <include refid="idQuery" />
    </select>

    <select id="select" resultMap="fieldColumn" parameterType="cn.idongjia.divine.db.mybatis.query.LivePureQuery">
        SELECT
        <include refid="fieldAsProperty"/>
        FROM `live_pure`
        <include refid="query"/>
        <if test="orderBy != null">ORDER BY ${orderBy}</if>
        <if test="limit != null">LIMIT ${limit}</if>
        <if test="offset != null">OFFSET ${offset}</if>
    </select>

    <select id="count" resultType="Integer"  parameterType="cn.idongjia.divine.db.mybatis.query.LivePureQuery">
        SELECT COUNT(1) FROM `live_pure` <include refid="query"/>
    </select>
</mapper>
